body{
    background-color: bisque;
    width: auto;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}


.list-body{
    background-color: rgba(0, 0, 0, 0.61);  
    margin-left: 50px;
    margin-top: 20px;
    resize: both;
    overflow: auto;
    padding: 5px;
    width: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;

}

.menu{
    height: 30px;
    border-radius: 6px;
    background-color: rgba(15, 15, 15, 0.281);
    margin: 5px;
    display: flex;
    margin-left: 22px;
}

.add-List-Button{
    flex: 1fr;
    display: inline-block;
    padding-top: 2px;
    margin: 2px 2px 2px 2px;
    max-height: 100%;
    background-color: rgba(36, 35, 35, 0.103);
    border-radius: 5px;
    color: antiquewhite;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.397);
}



.ordered-list-container , .unordered-list-container{
    background-color: rgba(0, 0, 0, 0.336);  
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    
}

.title-bar{
    position: relative;
}

.ordered-title , .unordered-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: medium;
    color: white;
    background-color: rgba(0, 0, 0, 0);   
    padding-left: 40px;
    argin-bottom: 2px;
    padding-bottom: 10px;
    margin: 5px;
    display:block;
    font-weight: 500;
    position: relative;
    
}

.ordered-list ,.unordered-list{
    background-color: rgba(0, 0, 0, 0);
    margin: 5px;
    color: white;
}

.ordered-item , .unordered-item{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: small;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    margin-top: 2px;
    padding: 2px;
    min-height: 20px;
    overflow-wrap:break-word;
    position: relative;
    padding-left: 6px;
}
.delete-button{

    width: 12px;
    right: 2px;color: red;
    background-color: red;
}

.text-field{
    display: inline;
    right: 0px;
}

.checked {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    text-decoration-color: rgba(255, 255, 255, 0.712);
    color: rgba(255, 255, 255, 0.507);
    font-weight: 400;
    transition: 500ms;
}



.bi-trash3{
    position: absolute;
    color: rgba(211, 185, 185, 0.233);
    right: 4px;
    top: 5px;
    height: 12px;
    width: 12px;
}

.title-bar .bi-trash3{
    right: 8px;
    height: 15px;
    width: 15px;
}
  
.bi-trash3:hover{
    transition: 150ms;
    color: rgb(255, 35, 35);
}
.bi-plus-square{
    position: absolute;
    left: 19px;
    top: 0px;
    opacity: 50%;
    color: rgba(255, 255, 255, 0.322);
}

.bi-plus-square:hover{
    color: rgb(255, 255, 255);
    transition: 150ms;

}

li:hover{
 background-color: rgba(114, 114, 114, 0.26);
}

